.App {
  flex: 1;
  background-color: antiquewhite;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#editor {
  width: 500px;
  height: 250px;
  background-color: beige;
  position: relative;
  margin: 10px;
  padding: 15px;
  border-width: 2px;
  border-radius: 10px;
  border-color: black;
}

#editor::-webkit-scrollbar {
  width: 10px;
}

#editor::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#editor::-webkit-scrollbar-thumb {
  background: #aaa;
}

#preview {
  background-color: beige;
  position: relative;
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
  width: 550px;
}

#preview img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}